# See https://prettier.io/docs/en/options.html

semi: false
singleQuote: true
arrowParens: 'avoid'
trailingComma: 'none'
proseWrap: 'never'
endOfLine: 'lf'
eslintIntegration: true
htmlWhitespaceSensitivity: 'strict'
bracketSpacing: true
printWidth: 100
tabWidth: 2
useTabs: false
parse: 'babel-ts'

